table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.add-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #3e8e41;
}
body {
    font-family: "Sofia", sans-serif !important;
    background-image: url("https://cdn.wallpapersafari.com/43/42/IwWBH3.jpg");
    opacity: 1;
}

body h1{
    text-align: center;
    font-style: bold;
    font-size: 30px;;
}
h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: large;
}

#accessory-select, #amount-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
}

#product-list, tr{
    font-size: 20px;
    border-width: 400px;
    border: solid 3px;
    border-radius: 5px;
    background-color: white;
}
